.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: $bgSecondary;
  padding: 24px;
  gap: 16px;
  width: 750px;
}

.title {
  font: $fontH3;
}

.desc {
  font: $fontP6;
}
