@import './TextareaSize.module';

.wrapper {
  width: 100%;
}

.label {
  display: inline-block;
  color: $textSecondary;
  margin: 0 0 4px;
}

.input {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  padding: 14px 18px;
  border: 1px solid transparent;
  background: $bgSecondary;
  outline: none;
  transition: all 0.15s ease;
  color: $textPrimary;
  resize: none;

  &::placeholder {
    color: $textSecondary;
  }

  &:hover {
    background: $bgSecondaryHover;

    &::placeholder {
      color: $textPrimary;
    }
  }

  &:focus-visible {
    border: 1px dashed $borderFocus;
  }

  &:focus {
    background: $bgPrimary;
    border: 1px solid $borderAccent;
  }
}

.helpText {
  margin: 2px 0 0;
  color: $textSecondary;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.1s ease;
}

.disabled {
  .input {
    background: $bgDisabled;
    color: $textDisabled;

    &::placeholder {
      color: $textDisabled;
    }
  }

  .helpText {
    color: $textDisabled;
  }
}

.error {
  .input {
    background: $bgPrimary;
    border: 1px solid $borderCritical;
    color: $textCritical;

    &::placeholder {
      color: $textCritical;
    }
  }

  .helpText {
    color: $textCritical;
  }
}

.success {
  .input {
    background: $bgPrimary;
    border: 1px solid $borderSuccess;
    color: $textSuccess;

    &::placeholder {
      color: $textSuccess;
    }
  }

  .helpText {
    color: $textSuccess;
  }
}

.warning {
  .input {
    background: $bgPrimary;
    border: 1px solid $borderCaution;
    color: $textCaution;

    &::placeholder {
      color: $textCaution;
    }
  }

  .helpText {
    color: $textCaution;
  }
}

.showHelpText .helpText {
  max-height: 1000px;
  opacity: 1;
}

.lg {
  @include large;
}

.md {
  @include medium;
}

.sm {
  @include small;
}

.xs {
  @include xsmall;
}
