@font-face {
  font-family: Involve;
  src:
    local('Involve Regular'),
    local('Involve-Regular'),
    url('Involve-Regular.woff2') format('woff2'),
    url('Involve-Regular.woff') format('woff'),
    url('Involve-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Involve;
  src:
    local('Involve Semibold'),
    local('Involve-SemiBold'),
    url('Involve-SemiBold.woff2') format('woff2'),
    url('Involve-SemiBold.woff') format('woff'),
    url('Involve-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
